<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-sm-6 form-group mb-4 p-4">
                                        <label>worked in teams ever?
                                        </label>
                                        <div class="form-check ml-4">
                                            <input class="form-check-input" type="radio" name="yes" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check ml-4">
                                            <input class="form-check-input" type="radio" name="no" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                No
                                            </label>
                                        </div>

                                    </div>
<div class="col-sm-6 form-group mb-4 p-4">
                                        <label>Hard or Smart worker
                                        </label>
                                        <div class="form-check ml-4">
                                            <input class="form-check-input" type="radio" name="hard" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Hard worker
                                            </label>
                                        </div>
                                        <div class="form-check ml-4">
                                            <input class="form-check-input" type="radio" name="smart" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Smart worker
                                            </label>
                                        </div>

                                    </div>
<div class="col-sm-6 form-group mb-4 p-4">
                                        <label>Salary/work
                                        </label>
                                        <div class="form-check ml-4">
                                            <input class="form-check-input" type="radio" name="salary" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Salary
                                            </label>
                                        </div>
                                        <div class="form-check ml-4">
                                            <input class="form-check-input" type="radio" name="work" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Work
                                            </label>
                                        </div>

                                    </div>
<div class="col-sm-6 form-group mb-4 p-4">
                                        <label>Management or Technical
                                        </label>
                                        <div class="form-check ml-4">
                                            <input class="form-check-input" type="radio" name="management" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Management
                                            </label>
                                        </div>
                                        <div class="form-check ml-4">
                                            <input class="form-check-input" type="radio" name="technical" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Technical
                                            </label>
                                        </div>

                                    </div>
<div class="col-sm-6 form-group mb-4 p-4">
                                        <label>Gentle or Tuff behaviour?
                                        </label>
                                        <div class="form-check ml-4">
                                            <input class="form-check-input" type="radio" name="stubborn" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Stubborn
                                            </label>
                                        </div>
                                        <div class="form-check ml-4">
                                            <input class="form-check-input" type="radio" name="gentle" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">

                                                Gentle
                                            </label>
                                        </div>

                                    </div>
<div class="col-sm-6 form-group mb-4 p-4">
                                        <label>In a Realtionship?
                                        </label>
                                        <div class="form-check ml-4">
                                            <input class="form-check-input" type="radio" name="yes" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check ml-4">
                                            <input class="form-check-input" type="radio" name="no" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                No
                                            </label>
                                        </div>

                                    </div>
<div class="col-sm-6 form-group mb-4 p-4">
                                        <label>What is your public speaking points
                                        </label>
                                        <input class="form-control" type="text" onkeypress="return isNumber(event)" placeholder="Enter 1-9 numbers" max="9" required>
                                    </div>


                                    <div class="col-sm-6 form-group mb-4 p-4">
                                        <label>Can work long time before system?
                                        </label>
                                        <div class="form-check ml-4">
                                            <input class="form-check-input" type="radio" name="yes" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check ml-4">
                                            <input class="form-check-input" type="radio" name="no" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 form-group mb-4 p-4">
                                        <label>Hours working per day
                                        </label>
                                        <input class="form-control" type="text" onkeypress="return isNumber(event)" placeholder="Enter 0-15 hours" max="15" required>
                                    </div>
                                    <div class="col-sm-6 form-group mb-4 p-4">
                                        <label>hackathons
                                        </label>
                                        <input class="form-control" type="text" onkeypress="return isNumber(event)" placeholder="Enter 0-6 numbers" max="6" required>
                                    </div>
                                    <div class="col-sm-6 form-group mb-4 p-4">
                                        <label>Enter Your Certifications
                                        </label>
                                        <input class="form-control" type="text" placeholder="Python , app development,r programming">
                                    </div>
                                    <div class="col-sm-6 form-group mb-4 p-4">
                                        <label>Any workshop attended
                                        </label>
                                        <input class="form-control" type="text" placeholder="cloud computing,database security,data science">
                                    </div>
                                    <div class="col-sm-6 form-group mb-4 p-4">
                                        <label>Any Talent tests taken?
                                        </label>
                                        <div class="form-check ml-4">
                                            <input class="form-check-input" type="radio" name="yes" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check ml-4">
                                            <input class="form-check-input" type="radio" name="no" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 form-group mb-4 p-4">
                                        <label>Olympiads
                                        </label>
                                        <div class="form-check ml-4">
                                            <input class="form-check-input" type="radio" name="yes" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check ml-4">
                                            <input class="form-check-input" type="radio" name="no" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                No
                                            </label>
                                        </div>
                                    </div>


                                    <div class="col-sm-6 form-group mb-4 p-4">
                                        <label>Interested subjects
                                        </label>
                                        <input class="form-control" type="text" placeholder="cloud computing, networks">
                                    </div>
                                    <div class="col-sm-6 form-group mb-4 p-4">
                                        <label>Interested career area
                                        </label>
                                        <input class="form-control" type="text" placeholder="system developer, testing">
                                    </div>

                                    <div class="col-sm-6 form-group mb-4 p-4">
                                        <label>Type of company want to settle in?
                                        </label>
                                        <input class="form-control" type="text" placeholder="Web Services,Saas Service">
                                    </div>
                                    <div class="col-sm-6 form-group mb-4 p-4">
                                        <label>Interested in games
                                        </label>
                                        <div class="form-check ml-4">
                                            <input class="form-check-input" type="radio" name="yes" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check ml-4">
                                            <input class="form-check-input" type="radio" name="no" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                No
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-sm-6 form-group mb-4 p-4">
                                        <label>Taken inputs from seniors or elders

                                        </label>
                                        <div class="form-check ml-4">
                                            <input class="form-check-input" type="radio" name="yes" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check ml-4">
                                            <input class="form-check-input" type="radio" name="no" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                No
                                            </label>
                                        </div>

                                    </div>
</body>
</html>