<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{url_for('static', filename = 'assets/css/style.css')}}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename = 'assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">


</head>

<body>
    <div class="container">
        <div class="signup-content ">
            <div class="signup-form col-md-11">
                <h4 class="text-secondary text-center font-weight-bold">Forget password</h4>
                <hr>
                <form>
                    <div class="cutom-group signup-input">
                        <label for="" class="ml-2">EMAIL ADDRESS</label>
                        <input class="form-control" type="text" placeholder="Enter your email address" value="" required>

                    </div>
                    <button class="btn btn-block mb-4">Send</button>
                </form>


            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <script src="{{url_for('static', filename = 'assets/js/custom/phone.js')}}"></script>
</body>



</html>